.alert {
  background: #f99;
  border-left: 8px solid #d40000;
  .msg {
    color: #d40000;
  }
  .close-btn {
    background: #ff6868;
    &:hover {
      background: #ff3737;
    }
  }
  .x-btn {
    color: #a30000;
  }
}

.warning {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;

  .msg {
    color: #ce8500;
  }
  .close-btn {
    background: #ffd080;
    &:hover {
      background: #ffc766;
    }
  }
  .x-btn {
    color: #ce8500;
  }
}

.alert,
.warning {
  padding: 15px 10px;
  min-width: 420px;
  max-width: 95%;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  .msg {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
  }
  .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
  }
  .x-btn {
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;
  }
}

.alert.showAlert,
.warning.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show,
.warning.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.alert.hide,
.warning.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
