@import "../../../styles/shared.scss";

.add-plant {
  position: absolute;
  left: -20px;
  top: -15px;
  border: 1px solid $secondary-color !important;
  font-size: 25px !important;
  width: 45px !important;
  border-radius: 25px !important;
}
