@import "../../../styles/shared.scss";

.dashboard-flex-container .dashboard .add-plant {
  position: absolute;
  left: -20px;
  top: -15px;
  border: 1px solid $secondary-color;
  font-size: 25px;
  width: 45px;
  border-radius: 25px;
}

@media (max-width: 584px) {
  .dashboard-flex-container .dashboard {
    margin-top: 10px;

    .add-plant {
      left: 0px;
    }
  }
}
