.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: rgba(63, 221, 63, 0.4) 5px 5px, rgba(63, 221, 63, 0.3) 10px 10px,
    rgba(63, 221, 63, 0.2) 15px 15px, rgba(63, 221, 63, 0.1) 20px 20px,
    rgba(63, 221, 63, 0.05) 25px 25px;

  .title {
    font-size: 32px;
    color: #0fd64f;
    font-weight: 900;
    text-shadow: #f8ef42 1px 1.5px;
    position: relative;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 35px;
      background: linear-gradient(135deg, #0fd64f, #f8ef42);
    }
  }
}

.input-box {
  margin: 20px 0 10px 0;

  .label {
    display: block;
    padding: 2px;
    font-weight: 500;
  }

  input {
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;

    &:focus,
    &:valid {
      border-color: #0fd64f;
    }
  }
}

form .submit {
  height: 45px;
  margin: 35px 0;

  input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    text-shadow: #f8ef42 1px 0.5px;
    background-image: linear-gradient(75deg, #0fd64f, #f8ef42);
    background-size: 150%;
    background-position: left;
    transition: 300ms background-position ease-in-out;

    &:hover {
      text-shadow: #0fd64f 0.5px 1px;
      background-position: right;
    }
  }
}

.go-login {
  font-size: 22px;
  text-align: center;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
}
